*{
    margin: 0;
    direction: rtl;
}
header{
    width: 100%;
    background-color: #EB8014;
    height: 128px;
    
}
.container{
    text-align: center;
    width: 60%;
    margin: auto;
}
nav a{
    text-decoration: none;
    color: #8C1014;
    vertical-align: middle;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   cursor: pointer;
   padding: 0.5em 0.75em;
   margin: 5px;
}
nav a:hover{
    color: white;
    background-color:#EB8014 ;
    
}
.inner-header{
 
 /* opacity: 1; */
}
img{
    width: 400px;
}
nav{
    background-color: white;
    height: 35px;
}
.main-aside{
    width: 33%;
    float: right;
    border: 1px solid #EB8014;
    /* border-radius: 30px; */
    background-color: #EB8014;
}
.main-aside h2{
    text-align: right;
    padding-right: 0px;
    background-image: url(https://www.alemadia.com/images/index1.png);
    background-position:right ;
    background-origin:padding-box;
}
.login{
    /* background-image: url(https://www.alemadia.com/images/client_but.png); */
}
.main-aside aside{
    /* padding: 19px; */
    width: 100%;
    margin: 15px;
}
.custom-item{
    width: 20px;
    height: 20px;
    background-color: #1b14eb;
    
}
/* .right-float{
    border: 1px solid #EB8014;
    border-radius: 60px;
height: 100px;
    width: 20%;
    float: right;
}
.left-float{
    width: 20%;
    float: left;
} */